$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

@mixin button($type) {
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 100px;
  background-color: #9356DC;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  
  a {
    text-decoration: none;
    color: inherit;
  }
}

@keyframes itemAppear {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1);
  }
}


.heroImg {
  max-width: 100%;
  max-height: 512px;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -64px;
  border-radius: 48px 48px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;

  &__header {
    padding: 16px 32px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: "Shrikhand", "cursive";
  }

  &__btn {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    position: relative;
    background-color: black;
    
    &:hover::before {
      opacity: 1;
    }
    
    &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background:linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
    }
  }

  &__like {
    transition-duration: .25s;
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    mix-blend-mode: lighten;
  }

  &__btn:hover {
    .menu__like {
      &--noBg {
        opacity: 0;
      }
    }
  }
}

.submenus {
  display: grid;
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 16px;

  &__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;
    font-weight: normal;

    &::after {
      content: "";
      width: 48px;
      height: 4px;
      background-color: $color-tertiary;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.menuItem {
  background-color: white;
  padding: 16px;
  display: flex;
  border-radius: 12px;
  margin: 16px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear .6s;
  animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
  animation-fill-mode: both;
  max-width: 100%;

  &__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  &__title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 8px;
  }

  &__confirmation {
    background-color: $color-tertiary;
    margin: -16px -80px -16px 16px;
    width: 64px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition-duration: 0.5s;
  }

  &:hover &__confirmation {
    margin-right: -16px;
  }

  &__wrapIcon {
    height: 25.5px;
    width: 25.5px;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;

  }

  &:hover &__wrapIcon {
    transform: rotate(0);
  }

  &__icon {
    color: $color-tertiary;
  }
}

@for $i from 0 to 9 {
  .delay-#{$i} {
    animation-delay:  #{$i/10}s;
  }
}

.wrapBtn {
  display: flex; 
  text-decoration: none;
  justify-content: center;
  padding: 48px 0;
}

.commandBtn {
  @include button('primary');
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
  &:hover {
    background-image: linear-gradient(0deg,rgba(159, 118, 209, 0.9),rgba(253, 145, 223, 0.9));
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.45);
  }
  &:active {
    background-image: linear-gradient(0deg,rgba(159, 118, 209, 0.9),rgba(253, 145, 223, 0.9));
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.45);
  }
}

@keyframes loader{
  0%{
      background-color: rgb(255, 255, 255);
  }
  100%{
      background-color:rgb(255, 255, 255);
      visibility: hidden;
  }
}

@keyframes boing{
  0%{
      transform: translateY(0);
  }
  25%{
      transform: translateY(30px);
  }
  75%{
      transform: translateY(-30px);
  }
  100%{
      transform: translateY(0);
  }
}
